<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    {{#each posts as |post|}}
   <a href="./{{post.id}}"><h1> {{post.title}}</h1></a>

    <p>{{post.content}} </p>

    <p>{{post.comment.content}}</p>
    {{/each}}
</body>
</html>